
<p><B>SOFTWARES</B></p>
<div class="item">
    <div class="item-left">
        <b>
            <p>NUAKE GAME ENGINE</p>
            <p>===========</p>
        </b>
        <p class="light-text">
            A game engine inspired by Quake. Made to integrate with Trenchbroom and uses Wren as a scripting language. It features a deferred PBR rendering system with Jolt Physics. 
        </p>
        <br>
        <a href="http://www.github.com/antopilo/nuake">Github</a>
    </div>
    <div class="item-right">
        <img src="https://cdn.antopilo.dev/NUAKE.png">

    </div>
</div>

<div class="item">
    <div class="item-left">
        <b>
            <p>PIXEL SORTER STUDIO</p>
            <p>===========</p>
        </b>
        <p class="light-text">
            A standalone image processing software made to Pixel Sort images and export them. Essentially a port of an existing After Effects Plugin.
        </p>
        <br>
        <a href="https://pixelsorter.info/pixel-sorter-studio/">Website</a>
    </div>
    <div class="item-right">
        <img src="https://cdn.antopilo.dev/PSSORTER.png">

    </div>
</div>

<div class="item">
    <div class="item-left">
        <b>
            <p>NUAKE RT</p>
            <p>===========</p>
        </b>
        <p class="light-text">
            
        </p>
        <p class="light-text">
            A real-time raytracing software with basic scene system that uses Compute Shaders and temporal accumulation. Implemtation based on Raytracing In One Weekend with my own improvements along the way.
        </p>
        <br>
        <a href="http://www.github.com/antopilo/nuakert">Github</a>
    </div>
    <div class="item-right">
        <img src="https://cdn.antopilo.dev/RAYTRACER.png">

    </div>
</div>

<p><b>LIBRARIES</b></p>

<div class="item">
    <div class="item-left">
        <b>
            <p>NUAKE RENDERER</p>
            <p>===========</p>
        </b>
        <p class="light-text">
            A simple rendering library made initially for Nuake Engine. A library I used in NuakeUI, NuakeRT and most of my toy projects that requires rendering.
        </p>
        <br>
        <a href="http://www.github.com/antopilo/nuakerenderer">Github</a>
    </div>
    <div class="item-right">
        <img src="https://cdn.antopilo.dev/RENDERER.png">

    </div>
</div>

<div class="item">
    <div class="item-left">
        <b>
            <p>NUAKE UI</p>
            <p>===========</p>
        </b>
        <p class="light-text">
            A UI library using Nuake Renderer. Made to be fast and flexible, it uses Yoga Layout as a layout engine. The interface is parsed from XML and CSS and the behaviour is defined in C++.
        </p>
        <br>
        <a href="http://www.github.com/antopilo/nuakeui">Github</a>
    </div>
    <div class="item-right">
        <img src="https://cdn.antopilo.dev/UI.png">
    </div>
</div>

<div class="item">
    <div class="item-left">
        <b>
            <p>===========</p>
        </b>
        <p class="light-text">
           If you'd like to see more projects, please visit my Github profile <a href="https://www.github.com/antopilo">Here</a>.
        </p>
        
    </div>
    <div class="item-right">

    </div>
</div>




