.post
{
    line-height: 28px;

    
    h2 {
        display: inline-block;
        margin-bottom: 20px;
        margin-top: 20px;
        color: red !important;
    }
    
    
    p {
        padding: 0;
        margin: 10px 0 30px 0;
        color: #c8c8c8 !important;
        color: green;
    }
   
}

