<b><p>ABOUT ME</p>
<p>======================</p> </b>
<div class="light-text">
    <p>I am a software developer currently working at Moment Factory.</p>
    <p>I primarly work with C++ and OpenGL in my freetime.</p>
    <p>I love graphics programming and realtime softwares.</p>
    <br>
</div>
<br>
<b><p>PROJECTS I'M WORKING ON</p>
<p>======================</p></b>
<div class="light-text">
    <p><a href="http://www.github.com/antopilo/nuake">NUAKE ENGINE</a></p>
    <p><a href="http://www.github.com/antopilo/nuakerenderer">NUAKE RENDERER</a></p>
    <p><a href="http://www.github.com/antopilo/nuakeui">NUAKE UI</a></p>
    <p><a href="https://github.com/antopilo/QuakeBSPParser">QUAKE BSP PARSER</a></p>
    <br>
</div>
<br>
<b><p>RECENT BLOG POSTS</p>
<p>======================</p></b>
<div class="light-text">
    <p><a routerLink="/blog/first-entry.md" ariaCurrentWhenActive="page" routerLinkActive="active">HELLO BLOG!</a></p>
    <p>...</p>
</div>
<br>
<br>
<b>
<p>LINKS</p>
<p>======================</p></b>
<div class="light-text">
    <p><a href="https://github.com/antopilo">Github</a></p>
    <p><a href="https://twitter.com/antopilote">Twitter</a></p>
</div>

